@charset "UTF-8";
/* CSS Document */

.paragraph-link {
	color: #2980B9;
	font-family: "Slabo 27px", serif;
	font-size: 1em;
	
}

.boxed-link {
	background-color:#2980B9;
	color: black;
	margin-top: 50px;
	padding: 2%;
}

.boxed-link:hover {
	background-color: rgba(41, 128, 185, 0.75);
	color:black;
}

div#icon-bar {
	padding-top: 6%;
}

.icon {
	opacity: 1.0;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;	
}

.icon:hover {
	opacity: 0.75;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;	
}
