@charset "UTF-8";
/* CSS Document */

.para {
	font-size: 2em;	
}

ul#fears {
	list-style: none;
	text-decoration: none;
}

ul#fears li {
	margin: 1% 0 1% 0;
}

ul#fears li button {
	font-family: "Slabo 27px", serif;
	font-weight: 200;
	font-size: 2em;
	letter-spacing: 0.05em;
	width: 225px;
	height: 45px;
	border: none;
	outline: none;
	background: #4995C7;
}

ul#fears li:hover {
	opacity: 0.75;
}

button#top {
	list-style: none;
	text-decoration: none;
	margin: auto;
	font-family: "Slabo 27px", serif;
	font-size: 2em;
	letter-spacing: 0.05em;
	width: 200px;
	height: 45px;
	border: none;
	outline: none;
	background: #4995C7;
}

button#top:hover {
	opacity: 0.75;
}