@charset "UTF-8";
/* CSS Document */

div#top-bar {
	width:auto;
	height: 10px;
	background-color: #2980B9;
}

.active-link {
	color: #2980B9;
	border-style: solid;
	border-top: none;
	border-left: none;
	border-right: none;
}

.nav-pad {
	padding: 30% 10% 0%;
}

.margin-top-3 {
	margin-top: 3%;
}

div#bottom-gutter {
	width: auto;
	height: 25px;
}

/***Change highlight color***/
/*** Works on common browsers ***/
::selection {
    background-color: #2980B9;
    color: #fff;
}

/*** Mozilla based browsers ***/
::-moz-selection {
    background-color: #2980B9;
    color: #fff;
}

/***For Other Browsers ***/
::-o-selection {
    background-color: #2980B9;
    color: #fff;
}

::-ms-selection {
    background-color: #2980B9;
    color: #fff;
}

/*** For Webkit ***/
::-webkit-selection {
    background-color: #2980B9;
    color: #fff;
}