@charset "utf-8";
/* CSS Document */

section {
	margin-top: 70px;
}

/* makes the landing photo end-to-end */
img {
	max-width:100%;
	height:auto;
	width:auto\9;
	left:0;
	right:0;
} 

/* changes the font, color, and position of the h2 headings */
h2 {
	text-align:center;
	padding-top:10px;
	padding-botom:0;
	margin-bottom:10px;
	font-size:40px;
	letter-spacing:0.5px;
	color:#000000;
	max-width:100%;
	font-family: FreightSans Medium;
}

h3 {
	text-align:center;
	font-size:26px;
	letter-spacing:0.5px;
	font-family:FreightSans Light;
}

/* changes the font, color, and position of text */
p {
	font-family: FreightSans;
	font-size:20px;
	letter-spacing:0.5px;
	color:#595959;
	text-align:center;
	margin:auto;
	width:60%;
}

/* changes the font on hyperlinked words */
a {
	font-family: FreightSans;
	letter-spacing:0.25px;
}

/* centers an image on the page */
.img-center {
	margin:auto;
	display:block;
}

.divider {
	margin:auto;
	margin-top:70px;
	display:block;
}

/* Removes the margin on the document. Everything is end-to-end. */ 

body {
	margin:0;
	padding:0;
}