@charset "utf-8";
/* CSS Document */

/* fonts used in the document */
@font-face {
	font-family:"AW Conqueror Carved One";
}

@font-face {
	font-family:"AW Conqueror Carved One";
	font-weight: bold;
}

/* styles the locked header bar*/
nav#header {
	box-shadow: 0px 2px 1px -1px #989898;
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:9999;
	background-color:white;
	display:inline;
	width:100%;
	height:100px;
}
	
/* styles that dope image of my initials in the top left */	
	nav#header img#RR-img {
		right:10px;
	}

	nav#header h1#header-name {
		font-family: AW Conqueror Carved One;
		text-align:left;
		font-size:50px;
		position:absolute;
		left:230px;
		top:-25px;
		min-width:1110px;		
	}
	
/* styles the navigation bar in the locked header bar */	
ul#nav-bar {
	font-size:18px;
	text-align:right;
	padding-right:30px;
	position:absolute;
	top:60px;
	right:50px;
}

	ul#nav-bar li {
		list-style:none;
		display:inline;
		padding-left:10px;
		padding-right:10px;
	}
	
	ul#nav-bar a {
		text-decoration:none;
		color:#727272;
		padding-left:10px;
		padding-right:10px;
	}
	
	ul#nav-bar a:hover {
		color: #46729d;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
	}	
	
/* styles the images in the personal section */	
ul#personal-descs {
	text-align:center;
	margin-bottom:0;
	padding-top:5px;
}
	ul#personal-descs li {
		list-style:none;
		display:inline-block;
		padding-left:5px;
		padding-right:5px;
	}
	
/* styles the images in the hobbies section */	
ul#hobbies-descs {
	text-align:center;
	margin-bottom:0;
	padding-top:5px;
}
	ul#hobbies-descs li {
		list-style:none;
		display:inline-block;
		padding-left:5px;
		padding-right:5px;
	}	
	
/* styles the images in the professional section */	
ul#professional-descs {
	text-align:center;
	margin-bottom:0;
	padding-top:5px;
}
	ul#professional-descs li {
		list-style:none;
		display:inline-block;
		padding-left:5px;
		padding-right:5px;
	}

/* styles the hyperlinks in the connect section */	
ul#connect-links {
	font-size:18px;
	text-align:center;
}

	ul#connect-links li {
		list-style:none;
		display:inline;
		padding-left:10px;
		padding-right:10px;
	}
	
	ul#connect-links a {
		text-decoration:none;
		color:#727272;
		padding-left:10px;
		padding-right:10px;
		border: 1px solid #727272;
		padding-bottom:3px;
		padding-top:3px;
	}
	
	ul#connect-links a:hover {
		color: white;
		background: #46729d;
		border: 1px solid #46729d;		
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s
		-o-transition: all 0.5s;
		transition: all 0.5s;
	}

/* makes the landing photo end-to-end*/
img {
	max-width:100%;
	height:auto;
	width:auto\9;
	left:0;
	right:0;
}

/* changes the font, color, and position of the h2 headings */
h2 {
	text-align:center;
	padding-top:10px;
	padding-botom:0;
	margin-bottom:10px;
	font-size:44px;
	color:#000000;
	max-width:100%;
	font-family: AW Conqueror Carved One;
}

/* changes the font, color, and position of the paragraphs under h2 headings */
p {
	font-family: FreightSans;
	font-size:22px;
	color:#727272;
	text-align:center;
	margin:auto;
	width:60%;
}

/* changes the font on hyperlinked words */
a {
	font-family: FreightSans;
}

/* centers an image on the page */
.img-center {
	margin:auto;
	display:block;
}

/* code for the divider line between an h2 heading and the corresponding paragraph */
.divider {
	margin:auto;
	display:block;
	padding-bottom:20px;
}

/* Removes the margin on the document. Everything is end-to-end. */ 

body {
	margin:0;
	padding:0;
}