body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: Raleway, sans-serif;
}

/*** CHANGE HIGHLIGHT COLOR ***/

::selection {
  background-color: #2980b9;
  color: #fff;
}

/*** Mozilla based browsers ***/
::-moz-selection {
  background-color: #2980b9;
  color: #fff;
}

/*** For Webkit ***/
::-webkit-selection {
  background-color: #2980b9;
  color: #fff;
}
